/* Estilos para cada seccion */

/* Efecto de hover en los enlaces de cada índice */
div#indice>ol>li:hover
{
    background:rgba(230, 230, 230);
}

/* Titulo de la seccion */
div.seccion>h1
{
    font-size:50px;
    text-align:center;
    margin-top:30px;
    margin-bottom:30px;
}

/* Titulos dentro de cada serccion */
div.seccion>h2
{
    margin-top:30px;
}

/* Subtitulos */
div.seccion>h3
{
    color:gray;
    font-size:24px;
}

div.seccion>hr
{
    margin-top:0px;
    margin-bottom:30px;
}

div.seccion>* q
{
    color:blue;
}

div>* span
{
    font-weight: bold;
}

/* Tablas */
div.seccion>div.tabla
{
    background:red;
    width:50%;
    margin: 0 auto;
}

